
<% layout("layouts/boilerplateCode")%>
    <div class="container">

       <%- include("../includes/leftNav.ejs") %>

        <div class="main-page">

            <div class="filter-content">
                    <a href="/main/categories?q=all">all</a>
                    <%for(let i of categories) { %>
                        <a href="/main/categories?q=<%=i%>"><%=i%></a>
                    <% }%>
            </div>

            <div class="content">
                <p><%=success%></p>
                <p><%=error%></p>

                 <div class="content-cards cards">

                   <% for(let item of items){ %>
                    
                    <a href="/main/show/<%=item._id%>" class="item-links">

                     <div class="content-card card" type="button">
                        <form class="dlt-btn-form" action="/main/categories/<%= item._id %>?_method=delete" method="post">
                          <button type="submit" class="dlt-btn">dlt</button>
                        </form>
                        <img class="content-card-img  cards-img" src="<%=item.image%>" alt="">
                        <h4><%= item.name %></h4>
                     </div>

                    </a>
                   <% } %>

                </div>

            </div>

        </div>

    </div>