
<% layout("layouts/boilerplateCode")%>
    <div class="container">

       <%- include("../includes/leftNav.ejs") %>

        <div class="main-page">


            <div class="main-heading">

                <div class="main-title">
                    <h2 id="title">Add new item!</h2>
                   <form action="/addlist" method="get" class="add-btn-form">
                       <button id="title-btn">ADD</button>
                   </form>
                </div>


                <div class="main-title2">
                </div>
            </div>

            <div class="content">
                <p><%=success%></p>
                <p><%=error%></p>

                 <div class="content-cards cards">

                   <% for(let item of items){ %>
                    
                    <a href="/main/show/<%=item._id%>" class="item-links">

                     <div class="content-card card" type="button">
                        <form class="dlt-btn-form" action="/main/<%= item._id %>?_method=delete" method="post">
                          <button type="submit" class="dlt-btn">dlt</button>
                        </form>
                        <img class="content-card-img  cards-img" src="<%=item.image%>" alt="">
                        <h4><%= item.name %></h4>
                        <h4>Rs.<%=item.costPrice%></h4>
                     </div>

                    </a>
                   <% } %>

                </div>

            </div>

        </div>

    </div>