
<% layout("layouts/boilerplateCode")%>
    <div class="container">

        <div class="main-page">
            <div class="content">

                 <div class="content-cards cards">

                   <% for(let order of orders){ %>

                    <a href="/main/show/<%=order.item._id%>" class="item-links">
                     <div class="content-card card" type="button">
                        <form class="dlt-btn-form" action="/main/order/<%= order._id %>?_method=delete" method="post">
                          <button type="submit" class="dlt-btn">dlt</button>
                        </form>
                        <img class="content-card-img  cards-img" src="/uploads/<%=order.image%>" alt="">
                        <h4><%= order.title %></h4>
                        <h3><%= order.quantity %></h3>
                     </div>
                    </a>
                   <% } %>

                </div>

            </div>

        </div>

    </div>
